@import url("https://fonts.googleapis.com/css?family=Lakki+Reddy");

body {
  background-position: top;
}
.body-color {
  background-color: greenyellow;
  height: max-content;
}
#my-life {
  font-family: "Lakki Reddy", cursive;
  font-size: 2em;
}
.Text-area {
  text-align: left;
  width: 60%;
}
.card-title,
.text-muted {
  font-family: "Lakki Reddy", cursive;
}
.card-title {
  font-size: 2em;
}
.card-text {
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: none;
}
.mb-3,
.my-3 {
  margin-left: 4em;
}

.overlay-item {
  display: block;
  position: fixed;
  overflow: hidden;
  text-align: center;
  margin-top: 2em;
  right: 5em;
  margin-right: 1em;
}
.overlay-item .mask {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.overlay-item img {
  display: block;
  width: 100%;
  height: auto;
  x-margin-right: auto;
  x-margin-left: auto;
}

.overlay-item p {
  text-align: center;
  font-family: "Lakki Reddy", cursive;
  font-size: 1.5em;
  padding-top: 1em;
}

.overlay-effect img {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.overlay-effect .mask {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.overlay-effect p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.overlay-effect:hover img {
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.overlay-effect:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.overlay-effect:hover p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.no-gutters {
  border: 5px solid black;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .overlay-item {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 2em;
    right: 5em;
  }

  .body-color {
    flex-direction: column;
  }
  .side-bar {
    width: 100%;
  }
  .ul-right li {
    display: inline;
    margin: 2em;
  }
  .ul-right li a {
    margin: 2em;
  }
  .card mb-3 {
    max-width: 100%;
  }
  .Text-area {
    width: 90%;
  }
  .card-text {
    font-size: 2em;
  }
  .col-md-4 {
    max-width: 100%;
  }
}
@media (min-width: 450px) and (max-width: 750px) {
  .overlay-item {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 2em;
    right: 5em;
  }
}
@media (min-width: 450px) and (max-width: 750px) {
  .overlay-item {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 2em;
    right: 5em;
  }
  .body-color {
    flex-direction: column;
  }
  .side-bar {
    width: 100%;
  }
  l-right li {
    font-size: 1em;
    display: inline;
  }
  .ul-right li a {
    margin: 5px;
  }
  .card-text {
    font-size: 2em;
    line-height: 1em;
  }
  .col-md-4 {
    max-width: 100%;
  }
  .Text-area {
    width: 90%;
    text-align: center;
    line-height: 0;
  }
  img[alt~="libya"] {
    width: 100% !important;
  }
  img[alt~="austria"] {
    width: 100% !important;
  }
}

@media (max-width: 450px) {
  .ul-right li a {
    margin: 5px;
  }
  .ul-right li {
    display: inline;
    margin: 0;
  }
  .Text-area {
    width: 90%;
    text-align: center;
    line-height: 0;
  }
  .card-text {
    font-size: 1em;
    line-height: 1em;
  }
  img[alt~="libya"] {
    width: 100% !important;
  }
  img[alt~="austria"] {
    width: 100% !important;
  }
}
